<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>home</title>
</head>
<body>
    <form action="#">
        <label for="numero">Entre un numero</label>
        <input type="text" name="numero" id="numero">
        <br>
        <br>
        <label for="message">Entre le message</label>
        <textarea name="message" id="message"></textarea>
        <br><br>
        <button type="submit">Envoye</button>
    </form>
</body>
</html>